html, body {
  padding:0;
  margin:0;
}
.webglContainer {
  position: relative;
}
.webglBall {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.webglBack {
  overflow: hidden;
}

.mouseArea {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}